/* Global Styles */
* {
    margin: 0;
}
li {
    list-style-type: none;
}


/* App Styles */
.App {
    display: flex;
}


/* Projects Column Styles */
.projCol {
    background-color: blue;
    width: 80vw;
}


/* Developer Column Styles */
.devCol {
    background-color: coral;
    width: 20vw;
    height: 100vh;
}
.portfolioHeadIMG {
    width: 14vw;
    border: 5px white solid;
}
.skillIconList {
    display: flex;
    flex-wrap: wrap;
}
.skillIcon {
    margin: 3px;;
}
