/* Global Styles */
* {
    margin: 0;
}
li {
    list-style-type: none;
}


/* App Styles */
.App {
    display: flex;
}


/* Projects Column Styles */
.projCol {
    display: flex;
    justify-content: center;
    background-color: rgb(184, 184, 248);
    width: 75vw;
    padding-top: 3vh;
}
.projColContent {
    width: 50vw;
    height: 97vh;
    background-color: aliceblue;
}
.projNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: aliceblue;

}
.navButton {
    height: fit-content;
    margin: 1vw 2vh; 
    background-color: aliceblue;
    border: none;
    text-decoration: underline;
    font-size: 1.3em;
}
.projCards {
    display: flex;
    justify-content: center;
}
.projCard {
    margin: 1vw;
}


/* Developer Column Styles */
.devCol {
    background-color: #fad8d8;
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.devColContent {
    margin: 3vh;
    border: 2px black solid;
}
.devContentTop {
    display: flex;
    justify-content: space-between;
}
.devContentTopLeft {
    width: 12vw;
}
.portfolioHeadIMG {
    width: 10vw;
    border: 5px white solid;
}
.devContentBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillIconList {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
    border: 3px red solid;
}
.skillIcon {
    margin: 3px;;
}
